<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Business</title>
    <link th:replace="layout :: common-resources"/>
</head>
<body>
  <div th:replace="layout :: content">
  </div>
  <div class="container">
      <form method="post" th:action="@{/business/create}" th:object="${business}" enctype="multipart/form-data" style="margin-top: 60px">
        <h2>Create your own Business</h2>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" th:field="${business.name}" id="name" aria-describedby="emailHelp" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="dateOfCreation">Date of Creation</label>
          <input type="datetime-local" class="form-control"  th:field="${business.dateOfCreation}" id="dateOfCreation" placeholder="Date of Creation">
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" th:field="${business.location}" id="location" placeholder="Location">
        </div>
        <div class="form-group">
          <label for="images">Images</label>
          <input class="form-control" type="file" th:field="${business.imageFiles}" name="imageFiles" id="images" multiple />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
  <th:block th:replace="layout :: common-scripts"></th:block>
</body>
</html>