<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Business</title>
  <link th:replace="layout :: common-resources"/>
</head>
<body>
  <div th:replace="layout :: content">
  </div>
  <div class="container">
    <h2>Edit Business</h2>
    <div class="form-group text-center">
      <div class="d-flex flex-row justify-content-center flex-wrap">
        <div th:each="image : ${businessEdit.images}" class="flex-item">
          <img th:src="@{/images/__${image.photoUrl}__}" width="200" height="200" th:alt="${image.photoUrl}" style="margin-right: 10px" />
        </div>
      </div>
    </div>
    <form method="post" th:action="@{/business/edit/{businessId}(businessId=${businessEdit.id})}" th:object="${businessEdit}" enctype="multipart/form-data">
      <input type="hidden" class="form-control" th:field="${businessEdit.id}" id="id" aria-describedby="emailHelp" placeholder="id">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" th:field="${businessEdit.name}" id="name" aria-describedby="emailHelp" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="dateOfCreation">Date of Creation</label>
        <input type="datetime-local" class="form-control" th:field="${businessEdit.dateOfCreation}" id="dateOfCreation" placeholder="Date of Creation">
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" th:field="${businessEdit.location}" id="location" placeholder="Location">
      </div>
      <div class="form-group">
        <label for="images">Images</label>
        <input class="form-control" type="file" th:field="${businessEdit.imageFiles}" name="imageFiles" id="images" multiple />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <th:block th:replace="layout::common-scripts"></th:block>
</body>
</html>